/* General Css Reseting */

:root {
  /* Define Our Variabls */
  --Primary-Pink: hsl(322, 100%, 66%);
  --Nuetral-Very-Pale-Cyan: hsl(193, 100%, 96%);
  --Neutral-Very-Dark-Cyan: hsl(192, 100%, 9%);
  --Neutral-Grayish-Blue: hsl(208, 11%, 55%);
}

html {
  box-sizing: border-box;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  font-family: "Poppins", sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}
/* Setup our container */
.container {
  width: 85%;
  margin: auto;
  /* border: 2px solid red; */
}

.hero {
  width: 100vw;
  height: 60vh;
  background-image: url("../images/bg-hero-desktop.svg");
  background-color: var(--Nuetral-Very-Pale-Cyan);
  background-repeat: repeat;
  background-size: contain;
  /* background-attachment: fixed; */
  background-position: center;
  padding-top: 2%;
  margin-bottom: 3%;
}
.nav-hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3%;
}
.logo {
  width: 10vw;
}

.try-it-free-btn {
  color: var(--Neutral-Very-Dark-Cyan);
  padding: 7px 3%;
  background-color: #fff;
  text-align: center;
  text-decoration: none;
  border-radius: 20px;
  font-size: 0.6rem;
  box-shadow: 0 3px 4px hsla(192, 100%, 9%, 0.161);
}

.left {
  float: left;
  width: 50%;
  height: 100%;
  padding: 4% 3% 3% 0;
  margin-right: 100px;
}

.hero-heading {
  font-family: inherit;
  font-weight: 600;
  margin-bottom: 22px;
  line-height: 1.3;
  font-size: 2.5rem;
}
.hero-text {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  margin-bottom: 28px;
  line-height: 1.6;
  font-size: 0.8rem;
  width: 90%;
  color: hsla(192, 100%, 9%, 0.701);
}
.hero-btn {
  color: #fff;
  padding: 2% 7%;
  background-color: var(--Primary-Pink);
  text-align: center;
  text-decoration: none;
  border-radius: 20px;
  font-size: 0.7rem;
}
.right {
  width: 100%;
}
.hero-image {
  width: 35vw;
  clear: both;
}

/* extra section */

.extras {
  width: 85%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 12px;
  box-shadow: 0 1px 2px 4px hsla(209, 11%, 55%, 0.054),
    3px 0 2px 4px rgba(128, 141, 153, 0.054);
  margin-bottom: 2%;
}
.middle {
  width: 85%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
  border: 1px solid transparent;
  border-radius: 12px;
  box-shadow: 0 1px 2px 4px hsla(209, 11%, 55%, 0.054),
    3px 0 2px 4px rgba(128, 141, 153, 0.054);
  margin-bottom: 2%;
}
.extra-left {
  width: 50%;
  padding: 5%;
}

.extra-heading {
  font-family: inherit;
  font-weight: 600;
  margin-bottom: 15px;
  line-height: 1.3;
  font-size: 1.2rem;
}

.extra-text {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  /* margin-bottom: 28px; */
  line-height: 1.6;
  font-size: 0.9rem;
  width: 95%;
  color: hsla(192, 100%, 9%, 0.284);
}
.extra-right {
  display: flex;
  justify-content: flex-end;
  width: 50%;
  padding: 5%;
}

.middle-right {
  display: flex;
  justify-content: flex-start;
  width: 50%;
  padding: 5%;
}

.extra-img {
  width: 20vw;
}
