/* General Css Reseting */

:root {
  /* Define Our Variabls */
  --Primary-Pink: hsl(322, 100%, 66%);
  --Nuetral-Very-Pale-Cyan: hsl(193, 100%, 96%);
  --Neutral-Very-Dark-Cyan: hsl(192, 100%, 9%);
  --Neutral-Grayish-Blue: hsl(208, 11%, 55%);
  --font-body: "Open Sans", sans-serif;
}

html {
  box-sizing: border-box;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
  position: relative;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}
/* Setup our container */
.container {
  width: 85%;
  margin: auto;
  /* border: 2px solid red; */
}

.hero {
  width: 100vw;
  height: 60vh;
  background-image: url("../images/bg-hero-desktop.svg");
  background-color: var(--Nuetral-Very-Pale-Cyan);
  background-repeat: repeat;
  background-size: contain;
  /* background-attachment: fixed; */
  background-position: center;
  padding-top: 2%;
  margin-bottom: 3%;
}
.nav-hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3%;
}
.logo {
  width: 10vw;
}

.try-it-free-btn {
  color: var(--Neutral-Very-Dark-Cyan);
  padding: 7px 3%;
  background-color: #fff;
  text-align: center;
  text-decoration: none;
  border-radius: 20px;
  font-size: 0.6rem;
  box-shadow: 0 3px 4px hsla(192, 100%, 9%, 0.161);
}

.left {
  float: left;
  width: 50%;
  height: 100%;
  padding: 4% 3% 3% 0;
  margin-right: 100px;
}

.hero-heading {
  font-family: inherit;
  font-weight: 600;
  margin-bottom: 22px;
  line-height: 1.3;
  font-size: 2.5rem;
}
.hero-text {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  margin-bottom: 28px;
  line-height: 1.6;
  font-size: 0.8rem;
  width: 90%;
  color: hsla(192, 100%, 9%, 0.701);
}
.hero-btn {
  color: #fff;
  padding: 2% 7%;
  background-color: var(--Primary-Pink);
  text-align: center;
  text-decoration: none;
  border-radius: 20px;
  font-size: 0.7rem;
  font-family: var(--font-body);
  font-size: 400;
}
.right {
  width: 100%;
}
.hero-image {
  width: 35vw;
  clear: both;
}

/* extra section */

.extras {
  width: 85%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 12px;
  box-shadow: 0 1px 2px 4px hsla(209, 11%, 55%, 0.054),
    3px 0 2px 4px rgba(128, 141, 153, 0.054);
  margin-bottom: 2%;
}
.middle {
  width: 85%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
  border: 1px solid transparent;
  border-radius: 12px;
  box-shadow: 0 1px 2px 4px hsla(209, 11%, 55%, 0.054),
    3px 0 2px 4px rgba(128, 141, 153, 0.054);
  margin-bottom: 2%;
}
.extra-left {
  width: 50%;
  padding: 5%;
}

.extra-heading {
  font-family: inherit;
  font-weight: 600;
  margin-bottom: 15px;
  line-height: 1.3;
  font-size: 1.2rem;
}

.extra-text {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  /* margin-bottom: 28px; */
  line-height: 1.6;
  font-size: 0.9rem;
  width: 95%;
  color: hsla(192, 100%, 9%, 0.284);
}
.extra-right {
  display: flex;
  justify-content: flex-end;
  width: 50%;
  padding: 5%;
}

.middle-right {
  display: flex;
  justify-content: flex-start;
  width: 50%;
  padding: 5%;
}

.extra-img {
  width: 20vw;
}

/* call to action section */
.call-to-action {
  background-color: #fff;
  display: flex;
  z-index: 100;
  position: relative;
  height: 20vh;
  top: 140px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2%;
  width: 40%;
  margin: 5% auto;
  border-radius: 12px;
  box-shadow: 0 1px 2px 4px hsla(209, 11%, 55%, 0.054),
    3px 0 2px 4px rgba(128, 141, 153, 0.054);
}

.call-to-action-heading {
  font-family: inherit;
  font-weight: 700;
  padding-bottom: 4%;
  line-height: 1.3;
  font-size: 1.2rem;
}

.call-to-action-btn {
  color: #fff;
  padding: 3% 10%;
  background-color: var(--Primary-Pink);
  text-align: center;
  text-decoration: none;
  border-radius: 30px;
  font-size: 0.7rem;
  font-family: var(--font-body);
  font-size: 400;
  box-shadow: 0 3px 4px hsla(192, 100%, 9%, 0.161);
}

.footer {
  width: 100%;
  height: 60vh;
  color: #fff;
  background-color: var(--Neutral-Very-Dark-Cyan);
  padding: 8% 8% 8% 0;
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 10;
}

.footer-left {
  flex-direction: column;
  padding: 4%;
  /* justify-content: space-between; */
  /* background-color: aqua; */
  width: 40%;
  height: 100%;
}

.logo-footer-white {
  width: 12vw;
  margin-bottom: 7%;
}

.location {
  padding-left: 5%;
  font-size: 0.8rem;
  font-family: var(--font-body);
  font-size: 400;
  color: var(--Neutral-Grayish-Blue);
  width: 70%;
  margin-bottom: 9%;
  position: relative;
}
.location::before {
  position: absolute;
  z-index: 11;
  top: 0;
  left: -6px;

  content: url("../images/icon-location.svg");
  /* padding-right: 10px; */
}

.phone-num,
.email {
  padding-left: 5%;
  font-size: 0.8rem;
  font-family: var(--font-body);
  margin-bottom: 3%;
  font-size: 400;
  color: var(--Neutral-Grayish-Blue);
}

.phone-num::before {
  position: absolute;
  z-index: 11;
  top: 0;
  left: -6px;
  content: url("../images/icon-phone.svg");
}
.email::before {
  position: absolute;
  z-index: 11;
  top: 0;
  left: -6px;
  content: url("../images/icon-email.svg");
}

.footer-middle {
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  width: 30%;
  /* padding: 8% 8% 8% 8%; */
}

ul {
  width: 50%;
  display: block;
  padding: 30px;
  margin-left: 20px;

  /* padding-right: 20px; */
}

ul li {
  font-size: 0.8rem;
  font-family: var(--font-body);
  font-size: 400;
  color: var(--Neutral-Grayish-Blue);
  margin-bottom: 14px;
}
.footer-right {
  margin-left: 5%;
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30%;
  /* padding-top: 6%; */
}
.icons-row {
  display: flex;
  flex-direction: row;
}
.icons {
  position: relative;
  padding: 5px 5px 5px 5px;
  margin-right: 4%;
  width: 35px;
  height: 35px;
  display: inline-block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  /* -moz-box-shadow: 0px 0px 2px #fff;
  -webkit-box-shadow: 0px 0px 2px #fff;
  box-shadow: 0px 0px 2px #fff;
  text-align: center; */
  border: 0.7px solid #fff;
  text-align: center;
}

.icons i {
  width: 100%;
  height: 100%;
}

.copy-rights {
  font-size: 0.7rem;
  font-family: var(--font-body);
  font-size: 400;
  color: var(--Neutral-Grayish-Blue);
}
